<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="titre">
            <ul><a href="/">Damien</a></ul>
        </div>
        <div class="oui">
            <ul><a href="/profil">Mon Profil</a></ul>
            <ul><a href="#">Portfolio</a></ul>
            <ul><a href="/projets">Projets</a></ul>
            <ul><a href="/passions">Passions</a></ul>
            <ul><a href="#">Contact</a></ul>
        </div>
    </nav>
    <div class="question">
        <h1>Posez moi une question ?</h1>
        <div class="image-container">
            <img class="img" src="{{ url_for('static', filename='images/information.png') }}" alt="Description de l'image">
            <div class="text-overlay">
                <p>Votre texte ici</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="chat">
            {% if user_input %}
                <div class="user-message">{{ user_input }}</div>
            {% endif %}
            {% if response %}
                <div class="bot-message">{{ response }}</div>
            {% endif %}
        </div>
        <form action="/ask" method="post" id="chat-form">
            <input type="text" id="user-input" name="user_input" placeholder="Posez-moi une question...">
            <button class="envoi" type="submit">Envoyer</button>
        </form>
    </div>
    <script src="script.js"></script>
</body>
</html>