<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="titre">
            <ul><a href="/">Damien</a></ul>
        </div>
        <div class="oui">
            <ul><a href="#">Mon Profil</a></ul>
            <ul><a href="#">Portfolio</a></ul>
            <ul><a href="/projets">Projets</a></ul>
            <ul><a href="/passions">Passions</a></ul>
            <ul><a href="#">Contact</a></ul>
        </div>
    </nav>
    <div class="titreprojets">
        <h1>Passions</h1>
    </div>
    <div class="projets">
        <div class="ligne">
            <div class='cardsurf'>
                <div class='infosurf'>
                <h1 class='title'>Surf</h1>
                <div class='description'>C'est un projet que j'ai pu réaliser dans le cadre du BUT Réseaux et Télécommunications. 
                    L'objectif était de récupérer des "Flags" par différentes méthodes sur une machine virtuelle linux mise à disposition par le site <a href="https://www.vulnhub.com/">Vulnhub</a>.
                    <p><a class="lien" href="projet_pentesting.html">Plus d'informations</a></p></div>
                </div>
            </div>
            <div class='cardski'>
                <div class='infoski'>
                <h1 class='title'>Ski</h1>
                <div class='description'>C'est un projet que j'ai pu réaliser dans le cadre du BUT Réseaux et Télécommunications. 
                    L'objectif était de récupérer des "Flags" par différentes méthodes sur une machine virtuelle linux mise à disposition par le site <a href="https://www.vulnhub.com/">Vulnhub</a>.
                    <p><a class="lien" href="projet_pentesting.html">Plus d'informations</a></p></div>
                </div>
            </div>
            <div class='cardfoot'>
                <div class='infofoot'>
                <h1 class='title'>Football</h1>
                <div class='description'>C'est un projet que j'ai pu réaliser dans le cadre du BUT Réseaux et Télécommunications. 
                    L'objectif était de récupérer des "Flags" par différentes méthodes sur une machine virtuelle linux mise à disposition par le site <a href="https://www.vulnhub.com/">Vulnhub</a>.
                    <p><a class="lien" href="projet_pentesting.html">Plus d'informations</a></p></div>
                </div>
            </div>
        </div>
        <div class="ligne">
            <div class='cardweb'>
                <div class='infoweb'>
                <h1 class='title'>Développement Web</h1>
                <div class='description'>C'est un projet que j'ai pu réaliser dans le cadre du BUT Réseaux et Télécommunications. 
                    L'objectif était de récupérer des "Flags" par différentes méthodes sur une machine virtuelle linux mise à disposition par le site <a href="https://www.vulnhub.com/">Vulnhub</a>.
                    <p><a class="lien" href="projet_pentesting.html">Plus d'informations</a></p></div>
                </div>
            </div>
            <div class='cardjeux'>
                <div class='infojeux'>
                <h1 class='title'>Jeux vidéos</h1>
                <div class='description'>C'est un projet que j'ai pu réaliser dans le cadre du BUT Réseaux et Télécommunications. 
                    L'objectif était de récupérer des "Flags" par différentes méthodes sur une machine virtuelle linux mise à disposition par le site <a href="https://www.vulnhub.com/">Vulnhub</a>.
                    <p><a class="lien" href="projet_pentesting.html">Plus d'informations</a></p></div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        salut
    </footer>
</body>
</html>