<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="titre">
            <ul><a href="/">Damien</a></ul>
        </div>
        <div class="oui">
            <ul><a href="#">Mon Profil</a></ul>
            <ul><a href="#">Portfolio</a></ul>
            <ul><a href="/projets">Projets</a></ul>
            <ul><a href="/passions">Passions</a></ul>
            <ul><a href="#">Contact</a></ul>
        </div>
    </nav>
    <div class="titreprojets">
        <h1>Projets</h1>
    </div>
    <div class="projet">
        <div class='card'>
            <div class='info'>
            <h1 class='title'>Projet de pentesting</h1>
            <div class='description'>C'est un projet que j'ai pu réaliser dans le cadre du BUT Réseaux et Télécommunications. 
                L'objectif était de récupérer des "Flags" par différentes méthodes sur une machine virtuelle linux mise à disposition par le site <a href="https://www.vulnhub.com/">Vulnhub</a>.
                <p><button class="bouton_cartes"><a class="lien" href="/projet_pentesting">Plus d'informations</a></button></p>
            </div>
            </div>
        </div>
    </div>
</body>
</html>